body {
  background-color: #CFFFE5;
  font-family: 'Open Sans', sans-serif;
  color: #1D0411;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 500;
}

h1 {
  font-weight: bold;
}

h1, h3 {
  color: #1D0411;
}
h2 {
  color: #1D0411;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #C40017;
}

a:hover {
  color: #4EF036;
  text-decoration: none;

}

.text-center {
    text-align: center;
}

.movie {
  width: 100px;
}

.image-spaceing {
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(25, 25, 25, 0.2);
}
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.container {
  width: 800px;
  margin: 30px auto;
}

.btn-me {
  background-color: #44BBA4;
  color: #292725;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.9);
  margin: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    text-decoration: none;
    list-style-type: none;
}

.list-inline {
  padding-left: 0;
  display: block;
}

.list-inline a {
  color: #44BBA4;
}
.inline-with-dots {
  display: block;
  padding-left: 0;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
}

.image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#movies {
  font-weight: 250;
  font-size: 15px;
  line-height: 1.6em;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
}


table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: black;
}

.text-left {
  padding-left: 10px;
  text-align: justify;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #44BBA4;
}
#sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #CFFFE5;
}

#sidebar a:hover {
  color: #4EF035;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;

}

.sidebar-list li {
  text-align: center;
  padding: 20 0;
}
#summery {
    background-image: linear-gradient(rgba(184,205,227, 0.70),
      rgba(184,205,227, 0.80)),url(https://res.cloudinary.com/duqna6ouc/image/upload/v1548983772/Le_Wagon_18.11.22-10.jpg);
    background-size: cover;
}

.statement {
  background-color: rgba(0 ,0 ,0 , 0.40);
  font-weight: 20%;
  color: white;

}

h2{
  border-radius: 2px;
  text-align: center;
  border: dashed 1px #44BBA4;
  background-color: #E5E5E8;
  padding: 10px;
}

.links {
  padding-bottom: 0;
}

.le-wagon {
  color: #4EF035;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
  .movie {
    width: 200px;
  }
}
@media (max-width: 720px) {
   /* For a screen < 720px, this CSS will be read*/
  .container {
    width: 500px;
  }
  .movie {
    width: 150px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .movie {
    width: 100px;
  }
}
