body {
  background-color: #FCFFBF;
  font-family: 'Open Sans', sans-serif;
  color: #1D0411;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: 500;
}

h1, h3 {
  color: #1D0411;
  font-family: 'Metal Mania', cursive;;
}
h2 {
  color: #1D0411;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #C40017;
}

a:hover {
  color: #4EF036;
}

.text-center {
    text-align: center;
}

.movie {
  width: 200px;
}

.image-spaceing {
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(25, 25, 25, 0.2);
}
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.container {
  width: 800px;
  margin: 30px auto;
}

.btn-green {
  background-color: #C40017;
  color: #292725;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.list-inline {
  padding-left: 0;
  display: block;
}
.inline-with-dots {
  display: block;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
}

.image {
  border-radius: 50%;
  border-style: dashed;
  border: 20px;
  width: 130px;
  border-color: #1D0411;
}

#movies {
  font-weight: 250;
  font-size: 15px;
  line-height: 1.6em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: black;
}

.text-left {
  padding-left: 10px;
  text-align: justify;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #1D0411;
}
#sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #C40017;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;

}

.sidebar-list li {
  text-align: center;
  padding: 20 0;
}
#summery {
    background-image: linear-gradient(rgba(184,205,227, 0.70),
      rgba(184,205,227, 0.70)),url(images/dawn-armfield-66060-unsplash.jpg);
    background-size: cover;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
  .movie {
    width: 200px;
  }
}
@media (max-width: 720px) {
   /* For a screen < 720px, this CSS will be read*/
  .container {
    width: 500px;
  }
  .movie {
    width: 150px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .movie {
    width: 100px;
  }
}
